

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans Regular';
  }
  
  /* Navbar Section */
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 1% 0; 
  }
  
  .GDSC-logo {
    width: 5%;
    height: auto;
    margin: 0 0 -8px 30px;
  }
  
  .nav-list {
    width: 65%;
    margin-bottom: 5px; 
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .nav-items {
    list-style: none;
  }
  
  .nav-link {
    text-decoration: none;
    margin-top: 0px;
    font-size: 1.1rem;
    padding: 9px 25px;
    height: 42px ;
    color: #000;
    position: relative;
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    height: 0;
    transform-origin: left;
    transition: all .3s ease-in;
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    height: 0;
    transform-origin: left;
    transition: all .3s ease-in;
  }
  
  .nav-link:hover::before {
    border-left: 4px solid blue;
    border-bottom: 4px solid red;
    width: 100%;
    height: 100%;
  }
  
  .nav-link:hover::after {
    border-top: 4px solid yellow;
    border-right: 4px solid green;
    width: 100%;
    height: 100%;
  }
  
  .nav-button-contact {
    text-decoration: none;
    color: #fff;
    padding: 8px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: blue;
  }
  
/* Media queries */

@media only screen and (max-width: 1227px) {

    .GDSC-logo {
        width: 30%;
        margin: 1% auto;
    }

    .nav-list {
        width: 100%;
        /* display: block; */
    }
}

/* @media only screen and (max-width: 901px) {

    .nav-link {
        font-size: 2rem;
    }

    .nav-button-contact {
        font-size: 1.7rem;
    }
} */

@media only screen and (max-width: 690px) {

    .GDSC-logo {
        width: 300px;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-link, .nav-button-contact {
        margin: 12% 0;
    }
}

/* @media only screen and (max-width: 603px) {

    .nav-link {
        font-size: 3rem;
    }

    .nav-button-contact {
        font-size: 2.7rem;
    }

} */