@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@700&display=swap');
.logo{
  width: 5.5rem;
  border-radius: 60%;
  
}
.nav-brand{
  position: relative;
  right: 18rem;
}
.nav-link{
  color: black;
  position: relative;
  right: 4.5rem;
  top: 0.5rem;
  padding-left: 2rem;
  color: darkblue;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}
.nav {
  background-color: #8acfe6;
}